/********************************************	
	Coded by:  alfieindesigns
	Website:   http://www.alfieindesigns.com/
	Inquiries: alfienollora@yahoo.com
	- God bless always! ;)
********************************************/

/*----------------------
	TOP WRAP
----------------------*/
.top-wrap {
	width:100%;
	height:148px;
	}
	.top {
		margin:0 auto;
		height:148px;
		width:807px;
		}
		.top-right-body {
			width:400px;
			height:148px;
			}
			
			/* Info Mail */
			a.infomail {
				text-decoration:underline;
				color:#0000ff;
				font-size:12px;
				font-weight:bold;
				left:15px;
				top:122px;
				}
			a:hover.infomail {
				color:#0000ff;
				text-decoration:none;
				}
				
			/* Share */
			.share-holder {
				top:122px;
				right:10px;
				}
				
			.textindent {text-indent:-99999px;}
				
			.icons-holder {
				display:none;
				top:120px;
				right:-70px;
				}
			/* Back to Home icon */
			a.home-icon, a:hover.home-icon {
				background:url(../images/icons.gif) 0 0 no-repeat;
				display:block;
				overflow:hidden;
				width:17px;
				height:21px;	
				margin:0 5px 0 0;			
				}
			/* Email Icon */
			a.email-icon, a:hover.email-icon {
				background:url(../images/icons.gif) -25px 0 no-repeat;
				display:block;
				overflow:hidden;
				width:13px;
				height:21px;
				margin:0 5px 0 0;			
				}
			/* Facebook Icon */
			a.facebook-icon, a:hover.facebook-icon {
				background:url(../images/icons.gif) -44px 0 no-repeat;
				display:block;
				overflow:hidden;
				width:20px;
				height:21px;
				margin:0 5px 0 0;				
				}
			
/*----------------------
	HEADER WRAP
----------------------*/
.header-wrap {
	/*background:#018f90;*/
	background:#57b3c9 url(../images/bg.gif) repeat;
	height:220px;
	width:100%;
	}
	.header {
		background:url(../images/transparent-bg.png) repeat;
		margin:0 auto;
		height:220px;
		width:807px;
		}
		.header-shadow-tl {
			background:url(../images/header-l-s.gif) no-repeat;
			display:block;
			overflow:hidden;
			width:111px;
			height:111px;
			top:0;
			left:-112px;
			}
		.header-shadow-tr {
			background:url(../images/header-r-s.gif) no-repeat;
			display:block;
			overflow:hidden;
			width:111px;
			height:111px;
			top:0;
			right:-112px;
			}
			.header-flo-r {
				/*background:url(../images/flwr_ryt.png) no-repeat;*/
				display:block;
				overflow:hidden;
				width:68px;
				height:220px;
				top:0;
				right:-68px;
				}
			.header-flo-l {
				/*background:url(../images/flwr_left.png) no-repeat;*/
				display:block;
				overflow:hidden;
				width:75px;
				height:220px;
				top:0;
				left:-75px;
				}
		.header-img-b {
			background:#FFFFFF;
			width:405px;
			text-align:center;
			height:220px;
			}
		.header-right-body {
			width:400px;
			height:220px;
			}
			/* Navigation */
			ul.mainnav {
				list-style-type:none;
				margin:0;
				padding:40px 0 0 85px;				 				
				}
				ul.mainnav li {
					display:list-item;
					padding:0 0 12px;		 				
					}
					ul.mainnav li a {
						color:#FFFFFF;
						font-size:14px;
						font-weight:bold;					
						}
					ul.mainnav li a:hover, ul.mainnav li a.selected, ul.mainnav li a:hover.selected {
						color:#0000ff;				
						}
	
/*----------------------
	CONTENT WRAP
----------------------*/
.content-wrap {
	width:100%;
	padding:0 0 5px;
	}		
	.content {
		margin:0 auto;
		width:807px;
		}	
		
		/* Left Rail */
		.left-rail {
			width:405px;
			margin:0 0 0 1px;
			}
			.sub-images {
				padding:1px 11px 0;
				width:381px;
				}
			.sub-img-description {
				background:#23bbe4 url(../images/left-curve-bgtop.gif) top left repeat-x;
				color:#FFFFFF;
				margin:0 0 0 11px;
				padding:10px 15px 0;
				width:351px;
				font-weight:bold;
				font-size:11px;
				}
			.left-bottom-design {
				background:url(../images/left-bottom-design.gif) no-repeat;
				display:block;
				width:381px;
				height:99px;
				margin:0 0 0 11px;
				}
			
		/* Right Rail */
		.right-rail {
			width:399px;
			}
			.right-body {
				/*background:url(../images/bottom-r-border.gif) bottom right no-repeat;*/
				line-height:16px;
				padding:20px 0 25px 0;
				width:399px;
				text-align:justify;
				}
			.right-body-facilities {
				/*background:url(../images/bottom-r-border.gif) bottom right no-repeat;*/
				line-height:16px;
				padding:20px 0 25px 0;
				width:399px;
				}		
				/* Facilities Images */
				.facilities-images {
					width:100%;
					}
					.facilities-images a {
						display:block;
						text-decoration:none;
						border:1px solid #5ab6b7;
						width:120px;
						height:90px;
						float:left;
						margin:3px;
						}
					.facilities-images a:hover {
						border:1px solid #000;
						}
						.facilities-images a img {
							width:120px;
							height:90px;
							}
				/* Contact Form */
				form.form-contact {
					position:relative;
					width:100%;
					padding:10px 0 20px;
					}
					input.input-style {
						border:1px solid #018f90;
						float:left;
						height:18px;
						margin:0 0 5px;
						font-size:11px;
						font-family:Tahoma, Arial, Verdana;
						}
					input.input-size1 {
						width:104px;
						}
					input.input-size2 {
						width:283px;
						}
					input.send {
						margin:0 3px 0 0;
						}
					.textarea-size {
						width:284px;
						height:100px;
						border:1px solid #018f90;
						float:left;
						margin:0 0 5px;
						font-family:Tahoma, Arial, Verdana;
						font-size:11px;
						}
					form.form-contact label.label1 {
						width:105px;
						text-align:right;
						float:left;
						font-weight:bold;
						font-size:12px;
						padding:0 5px 0 0;
						}
					form.form-contact label.labellastname {
						width:68px;
						text-align:right;
						float:left;
						font-weight:bold;
						font-size:12px;
						padding:0 5px 0 0;
						}
						form.form-contact label.label-city {
							width:39px;
							text-align:right;
							float:left;
							font-weight:bold;
							font-size:12px;
							padding:0 5px 0 0;
							}
							input.input-city {
								width:80px;
								}
						form.form-contact label.label-sate {
							width:39px;
							text-align:right;
							float:left;
							font-weight:bold;
							font-size:12px;
							padding:0 5px 0 0;
							}
							input.input-sate {
								width:72px;
								}
						form.form-contact label.label-zip {
							width:22px;
							text-align:right;
							float:left;
							font-weight:bold;
							font-size:12px;
							padding:0 5px 0 0;
							}
							input.input-zip {
								width:54px;
								}
					.textarea-size {
						float:left;
						}
				/*.rb-shadow-tr {
					background:url(../images/body-r-s.gif) no-repeat;
					width:111px;
					height:111px;
					display:block;
					overflow:hidden;
					top:0;
					right:-111px;
					}*/	
				/*.rb-border-tr {
					background:url(../images/top-r-border.gif) no-repeat;
					width:1px;
					height:172px;
					display:block;
					overflow:hidden;
					top:0;
					right:0;
					}*/
		
/*----------------------
	FOOTER WRAP
----------------------*/
.footer-wrap {
	height:28px;
	width:100%;
	padding:40px 0 0;
	}
	.footer {
		margin:0 auto;
		width:807px;
		height:28px;		
		font-size:10px;
		color:#018f90;
		}