/********************************************	
	Coded by:  alfieindesigns
	Website:   http://www.alfieindesigns.com/
	Inquiries: alfienollora@yahoo.com	
	- God bless always! ;)
********************************************/

@import "mainstyle.css";
body {
	font-family:Tahoma,Geneva,sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	color:#5f5f5f;
	}

a img {border:none; outline:none;}
a, input, Object {outline:none; outline-style:none;}
img {border:none;}
p {margin-top:0;}
.fl {float:left;}
.fr {float:right;}
.re {position:relative;}
.ab {position:absolute;}
.block {display:block;}
.clear {clear:both;}

/** Heading Style **/
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:normal;}

/* Logo */
h1 a {background:url(../images/logo.gif) no-repeat; display:block; text-indent:-99999px; width:407px; height:148px; position:absolute; left:-1px; top:0;}

h2 {font-size:18px; font-weight:bold; padding:5px 0 10px;}

/** Link Style **/
a {color:#333333; text-decoration:none;}
a:hover {color:#000000; text-decoration:underline;}

/* Text Align */
.textalign-center {text-align:center;}
.textalign-right {text-align:right;}

/* Text Style */
.bold {font-weight:bold;}
.italic {font-style:italic;}
.underline {text-decoration:underline;}

/* CSS Nya */
.txt1 {
	font:11px Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
	text-align:left;
}
.txt2 {
	font:9px Tahoma, Geneva, sans-serif;
	color:#e0a006;
	text-align:left;
}
.txt3 {
	font:12px Tahoma, Geneva, sans-serif;
	color:#666;
	text-align:left;
	text-align:justify;
}
.headline {
	font:18px Tahoma, Geneva, sans-serif;
	color:#666;
	font-weight:bold;
	text-align:left;
}
.footer-copy {
	font-size:10px;
	color:#018f90;
	text-align:right;
	padding-top:40px;
}
